/***********************************
************** General *************
***********************************/

.App {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Akaya Kanadaka', sans-serif;
  background-color: white;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

/***********************************
*************** Header **************
***********************************/

header {
  padding: 5px;
}

.papou-logo img {
  width: 250px;
  height: 250px;
}

.slogan p {
  margin: 10px;
  padding: 20px;
  font-size: 40px;
  color: white;
}

.search_icons {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.search_icons nav {
  width: 20%;
  background-color:#00988E;
  border: 3px solid white;
  border-radius: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.search_icons i{
  color: white;
  font-size: 40px;
}

#search {
  border-radius: 15px;
}

.group_icons i{
  margin: 10px;
}

/***********************************
*************** Home ***************
***********************************/

.who_are_we p, .our_values p{
  margin: 80px;
  font-size: 25px;
}

.partners_title {
  margin-bottom : 70px;
}

.cards_carousel_essentials{
  font-family: 'Open Sans', sans-serif;
}

/***********************************
*************** Footer *************
***********************************/

footer{
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 25px;
}

footer h5{
  font-size: 40px;
}

footer .social_icons {
  display: flex;
  justify-content: space-between; /* Espace égal entre les icônes */
  width: 250px; /* Ajustez la largeur en fonction de vos besoins */
  margin: auto;
  margin-top: 20px;
}

footer .social_icons a {
  text-decoration: none; /* Supprimer la soulignement du lien */
}

/***********************************
************ Responsive ************
***********************************/

/***********************************
************ 768 PX ************
***********************************/

@media (max-width: 768px) {

  /***********************************
  ************** Header **************
  ***********************************/
  header {
    padding: 10px; /* Ajustez le padding selon vos besoins */
  }

  .papou-logo img {
    width: 150px; /* Ajustez la taille du logo pour les petits écrans */
    height: 150px;
  }

  .slogan p {
    font-size: 20px; /* Réduisez la taille de la police */
  }

  .search_icons {
    flex-direction: column; /* Changez la direction de la flexbox pour empiler les éléments */
  }

  .search_icons nav {
    width: 80%; /* Ajustez la largeur pour une meilleure adaptation aux petits écrans */
    margin: 15px 0; /* Ajustez les marges selon vos besoins */
  }

  .search_icons i {
    font-size: 30px; /* Réduisez la taille de l'icône de recherche */
  }

  #search {
    border-radius: 10px; /* Ajustez le rayon de la bordure */
  }

  .group_icons i {
    margin: 5px; /* Ajustez les marges entre les icônes */
  }

  /***********************************
  *************** Home ***************
  ***********************************/

.who_are_we h1, .partners_title{
  font-size: 40px;
}


}