/***********************************
***************Header **************
***********************************/

.App {
  font-family: 'Playfair Display', serif;
  background-color: #00988E;
  text-align: center;
}

/***********************************
***************Header **************
***********************************/

header {
  padding: 5px;
}

.papou-logo img {
  width: 250px;
  height: 250px;
}

.slogan p {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

header nav i {
  justify-content: flex-end;
}
