/***********************************
************** General *************
***********************************/

.App {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Akaya Kanadaka', sans-serif;
  background-color: white;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

/***********************************
*************** Header **************
***********************************/

header {
  padding: 5px;
}

.papou-logo img {
  width: 250px;
  height: 250px;
}

.slogan p {
  margin: 10px;
  padding: 20px;
  font-size: 40px;
  color: white;
}

.search_icons {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.search_icons nav {
  width: 20%;
  background-color:#00988E;
  border: 3px solid white;
  border-radius: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.search_icons i{
  color: white;
  font-size: 40px;
}

#search {
  border-radius: 15px;
}

.group_icons i{
  margin: 10px;
}

/***********************************
*************** Footer *************
***********************************/

footer{
  font-family: 'Open Sans', sans-serif;
}

footer .social_icons {
  display: flex;
  justify-content: space-between; /* Espace égal entre les icônes */
  width: 150px; /* Ajustez la largeur en fonction de vos besoins */
  margin: auto;
}

footer .social_icons a {
  text-decoration: none; /* Supprimer la soulignement du lien */
}

/***********************************
********** Qui sommes-nous? ********
***********************************/

.who_are_we p{
  margin: 80px;
}